node_modules
**/node_modules
.env
.env*
!.env.example
**/dist
**/build
.angular
*/todo-api/todos/*
*/todo-api/users/*
reactjs-todo/public/*
!reactjs-todo/public/index.html
!reactjs-todo/public/callback.html
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.eslintcache
reactjs-todo/public/*
**/xcuserdata/
.gradle/
.idea/
.vscode/
local.properties
CURRENT
LOG
CURRENT*
LOG*
**/LOG
**/CURRENT
