{
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "trailingComma": "none",
        "singleQuote": false,
        "printWidth": 80,
        "tabWidth": 2
      }
    }
  ]
}
