SERVER_URL=
WELLKNOWN_URL=
WEB_OAUTH_CLIENT=
SCOPE='openid profile email'
PORT=8443
API_URL=http://localhost:9443
DEBUGGER_OFF=true
DEVELOPMENT=true
JOURNEY_LOGIN=Login
JOURNEY_REGISTER=Registration
REALM_PATH=alpha

# required when PingOne Protect callbacks are present
PINGONE_ENV_ID=
