# Application configuration
# -------------------------
VITE_API_URL=http://localhost:9443
VITE_PORT=8443
VITE_DEBUGGER_OFF=true
VITE_DEVELOPMENT=true
VITE_JOURNEY_LOGIN=Login
VITE_JOURNEY_REGISTER=Registration

# SDK Configuration
# -----------------
# SDK configuration (clientId, discovery endpoint, scopes) can be
# sourced from either the VITE_SDK_<NAME> variables or config.json. If no
# VITE_SDK_<NAME> values are provided then the app falls back to config.json.
# Copy config.example.json to config.json and fill in your values.

# VITE_SDK_CLIENT_ID - the id of the OAuth 2.0 client you created in Ping AM/AIC
VITE_SDK_CLIENT_ID=
# VITE_SDK_DISCOVERY_ENDPOINT - the wellknown url of the OAuth 2.0 client
VITE_SDK_DISCOVERY_ENDPOINT=
# VITE_SDK_SCOPE - a space-separated list of scopes to request from Ping
VITE_SDK_SCOPE='openid profile email'

# VITE_INIT_PROTECT (optional) - bootstrap | journey
# 'bootstrap' will initialize protect at app bootstrap time
# 'journey' relies on the PingOneProtectEvaluationCallback for initialization
VITE_INIT_PROTECT=

# VITE_PINGONE_ENV_ID - required if VITE_INIT_PROTECT is set
VITE_PINGONE_ENV_ID=