# APP_URL= # not using this for preview-environment instead, we can use window.location.origin
SERVER_URL=
SCOPE=
API_URL=
DEBUGGER_OFF=true
DEVELOPMENT=
PORT=
REALM_PATH=alpha
REST_OAUTH_CLIENT=
REST_OAUTH_SECRET=
WEB_OAUTH_CLIENT=
SERVER_TYPE=AIC
WELLKNOWN_URL=
INIT_PROTECT=
# required when PingOne Protect callbacks are present
PINGONE_ENV_ID=
