# APP_URL= # not using this for preview-environment instead, we can use window.location.origin
SERVER_URL=https://openam-sdks.forgeblocks.com/am
SCOPE="openid profile email"
API_URL=
DEBUGGER_OFF=true
DEVELOPMENT=
PORT=
REALM_PATH=alpha
REST_OAUTH_CLIENT=RestOAuthClient
REST_OAUTH_SECRET=
WEB_OAUTH_CLIENT=WebOAuthClient
SERVER_TYPE=AIC
WELLKNOWN_URL=https://openam-sdks.forgeblocks.com/am/oauth2/alpha/.well-known/openid-configuration
INIT_PROTECT=
# required when PingOne Protect callbacks are present
PINGONE_ENV_ID=
