node_modules
**/node_modules
.env
.env*
!.env.example
**/dist
**/build
.angular
todo-api/todos/*
todo-api/users/*
reactjs-todo-journey/public/*
!reactjs-todo-journey/public/index.html
!reactjs-todo-journey/public/callback.html
reactjs-todo-oidc/public/*
!reactjs-todo-oidc/public/index.html
!reactjs-todo-oidc/public/callback.html
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.eslintcache
**/xcuserdata/
.gradle/
.idea/
.vscode/
local.properties
CURRENT
LOG
CURRENT*
**/LOG
**/CURRENT
