WELLKNOWN_URL=
WEB_OAUTH_CLIENT=
API_URL=http://localhost:9443
DEBUGGER_OFF=true
DEVELOPMENT=true
PORT=8443
SCOPE="openid profile email phone name revoke"

# INIT_PROTECT (optional) - bootstrap | flow
# 'bootstrap' will initialize protect at app bootstrap time
# 'flow' relies on the PingOne Protect collector for initialization
INIT_PROTECT=
# PINGONE_ENV_ID - required when ProtectCollector is present
PINGONE_ENV_ID=
