# APP_URL= # not using this for preview-environment instead, we can use window.location.origin
SERVER_URL=
SCOPE=
API_URL=
DEBUGGER_OFF=true
DEVELOPMENT=
JOURNEY_LOGIN=
JOURNEY_REGISTER=
PORT=
REALM_PATH=
REST_OAUTH_CLIENT=
REST_OAUTH_SECRET=
WEB_OAUTH_CLIENT=
CENTRALIZED_LOGIN=
SERVER_TYPE=
WELLKNOWN_URL=
INIT_PROTECT=  # bootstrap | journey
               # 'bootstrap' will initialize protect at app bootstrap time
               # 'journey' relies on the PingOneProtectInitialize callback for initialization
PINGONE_ENV_ID=  # required when PingOne Protect callbacks are present
