# Copyright (c) 2026 Ping Identity Corporation. All rights reserved.
#
# This software may be modified and distributed under the terms
# of the MIT license. See the LICENSE file for details.

# Journey config
JOURNEY_SERVER_URL=https://your-journey-host.example.com/am
JOURNEY_REALM=your-journey-realm
JOURNEY_COOKIE=your-journey-cookie-name
JOURNEY_CLIENT_ID=your-journey-client-id
JOURNEY_DISCOVERY_ENDPOINT=https://your-journey-host.example.com/am/oauth2/your-journey-realm/.well-known/openid-configuration
JOURNEY_REDIRECT_URI=org.forgerock.demo://oauth2redirect
JOURNEY_SCOPES=openid,email,profile,address
JOURNEY_SHOW_DEBUG_PANEL=false

# Facebook App config (external IdP login)
FACEBOOK_APP_ID=your-facebook-app-id
FACEBOOK_LOGIN_PROTOCOL_SCHEME=fbyour-facebook-app-id
FACEBOOK_CLIENT_TOKEN=your-facebook-client-token

# Google client app iOS config (external IdP login)
GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id.apps.googleusercontent.com
GOOGLE_IOS_REVERSED_CLIENT_ID=com.googleusercontent.apps.your-google-ios-client-id
