# VITE_APP_URL - not using this for preview-environment instead, we can use window.location.origin
VITE_WELLKNOWN_URL=
VITE_SCOPE=
VITE_API_URL=
VITE_PORT=8443
VITE_DEBUGGER_OFF=true
VITE_DEVELOPMENT=true
VITE_JOURNEY_LOGIN=Login
VITE_JOURNEY_REGISTER=
VITE_WEB_OAUTH_CLIENT=
VITE_REALM_PATH=
VITE_CENTRALIZED_LOGIN=false

# VITE_INIT_PROTECT (optional) - bootstrap | journey
# 'bootstrap' will initialize protect at app bootstrap time
# 'journey' relies on the PingOneProtectEvaluationCallback for initialization
VITE_INIT_PROTECT= 

# VITE_PINGONE_ENV_ID - required if VITE_INIT_PROTECT is set
VITE_PINGONE_ENV_ID= 
