name: 'JS Continuous Integration'

on:
  pull_request:
    paths:
      - 'javascript/**/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./javascript
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/js-setup
        id: setup

      - name: Install dependencies and Lint
        run: |
          nix develop --command bash -c "
            set -e
            if [ \"${{ steps.setup.outputs.npm-cache-hit }}\" != 'true' ]; then
              npm ci
            fi
            npm run lint
          "

  e2e:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        shardIndex: [1, 2, 3, 4]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./javascript
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/js-setup
        id: setup
        with:
          cache-playwright: 'true'

      - name: Install Deps and Run E2E Tests
        env:
          REST_OAUTH_SECRET: ${{ secrets.REST_OAUTH_SECRET }}
        run: |
          nix develop --command bash -c "
            set -e
            if [ \"${{ steps.setup.outputs.npm-cache-hit }}\" != 'true' ]; then
              npm ci
            fi
            if [ \"${{ steps.setup.outputs.playwright-cache-hit }}\" != 'true' ]; then
              npx playwright install --with-deps
            fi
            npm run e2e -ws --if-present -- --shard=${{ matrix.shardIndex }}/4
          "

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Playwright Results - ${{ runner.os }} - Shard ${{ matrix.shardIndex }} - ${{ github.run_attempt }}
          path: |
            javascript/**/test-results/
            javascript/**/playwright-report/
